# Implementation of collaborative filtering 
## user-based recommendation algorithm

In [26]:
import pandas as pd

# Load in the data
df = pd.read_csv('ratings.csv')

# Create a pivot table
df_pivot = df.pivot(index='userId', columns='movieId', values='rating')

# Show the pivot table
df_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# calculate correlation matrix between users not including NaN values
corrMatrix = df_pivot.T.corr(method='pearson', min_periods=100, )

# Fill in NaN values in the correlation matrix
corrMatrix = corrMatrix.fillna(0)

# Show the correlation matrix
corrMatrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,-0.061503,0.0,0.0,0.000000,0.000000,0.268070,0.0,0.000000
2,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
3,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
4,0.00000,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.090090,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
5,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.318473,0.0,0.0,1.000000,0.000000,0.240842,0.0,0.389185
607,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.200814,0.0,0.000000
608,0.26807,0.0,0.0,0.0,0.0,0.125428,0.008081,0.0,0.0,0.0,...,0.0,0.0,0.086423,0.0,0.0,0.240842,0.200814,1.000000,0.0,0.147606
609,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
610,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.270908,0.0,0.0,0.389185,0.000000,0.147606,0.0,1.000000

In [35]:
# Select a user
user = 608

# Set the number of neighbors
k = 10

In [73]:
# Get the indices of the nearest neighbors
nearest_neighbors = corrMatrix[user].sort_values(ascending=False).iloc[1:k+1]

# Show the nearest neighbors
nearest_neighbors

userId
307    0.479649
387    0.477674
294    0.450024
45     0.445968
570    0.442103
580    0.426132
166    0.420335
552    0.411274
428    0.405471
239    0.401884
Name: 608, dtype: float64

In [74]:
# Get the ratings of the nearest neighbors
nearest_neighbors_ratings = df_pivot.loc[nearest_neighbors.index]

# Show the ratings of the nearest neighbors
nearest_neighbors_ratings

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
307,4.0,2.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,3.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,4.0,NaN,NaN,NaN,3.0,4.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,4.0,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,3.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,5.0,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# Get the movies that the user has rated

row = df_pivot.iloc[user]
mask = row.notnull()

rated_movies =  row[mask].index.tolist()
rated_movies

[1,
 10,
 110,
 116,
 137,
 150,
 161,
 185,
 208,
 231,
 253,
 288,
 292,
 296,
 318,
 329,
 339,
 356,
 434,
 454,
 457,
 480,
 589,
 590,
 592,
 613,
 650,
 731,
 742,
 786,
 828,
 833,
 892,
 1056,
 1059,
 1150,
 1161]

In [76]:
len(rated_movies)

37

In [77]:
# filter for movies not rated by the target user
nearest_neighbors_ratings.drop(columns=rated_movies, inplace=True)
nearest_neighbors_ratings

movieId,2,3,4,5,6,7,8,9,11,12,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
307,2.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,3.0,1.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,3.0,4.0,3.0,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
# weight rating with correlations
nearest_neighbors_ratings_weighted = nearest_neighbors_ratings.multiply(nearest_neighbors, axis=0)
nearest_neighbors_ratings_weighted

movieId,2,3,4,5,6,7,8,9,11,12,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
307,1.199123,1.678772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.194185,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,1.350073,0.450024,NaN,NaN,1.350073,NaN,NaN,NaN,NaN,0.450024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,1.337904,1.783872,1.337904,NaN,NaN,1.337904,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,1.547360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.547360,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,NaN,NaN,NaN,NaN,1.704528,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,1.471173,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,NaN,0.411274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.810942,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,NaN,2.009422,NaN,NaN,NaN,2.009422,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# Sum the weighted ratings and normalize
recommendations = nearest_neighbors_ratings_weighted.sum() / nearest_neighbors.sum()
recommendations

movieId
2         0.939466
3         0.582516
4         0.000000
5         0.306822
6         1.907818
            ...
193581    0.000000
193583    0.000000
193585    0.000000
193587    0.000000
193609    0.000000
Length: 9687, dtype: float64

In [80]:
# Sort the recommendations in descending order
recommendations = recommendations.sort_values(ascending=False)

# Show the top 10 recommendations
recommendations.head(10)

movieId
1196    4.235235
2959    4.029476
2571    3.922200
260     3.871156
2858    3.819967
1210    3.757071
858     3.653868
2115    3.640236
4878    3.534362
1291    3.513320
dtype: float64